
:root {

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-font);
  font-family: var(--main-font);
  font-size: var(--main-font-size-mobile);
  font-weight: 500;

  --main-bg: #17162E;
  --moovie-bg: #1D1C3B;

  --main-font: 'Kumbh Sans', "Sans Serif";
  --main-font-size: 1.125rem;
  --main-font-size-mobile: 1rem;
  
  --max-heigth-card-content: 200px;
 
  
  /*Breakpoints*/
  
  --tablet-min-width: 768px;
  --desktop-min-width:1024px;
  --ldesktop-min-width:1200px;
  
  /*Colors*/
  
  --color-fav: #BA0707;
  --color-font: white;
  --color-movie-synopsis: #ACACAC;
  
  --color-primary: #cdbcab;
  --color-secondary: #E1DBD9;
  
  --color-text-main: #9A9A9A;
  
  /*Layout*/
  
  --container-max-width: 1200px;
  
  /*Spacing*/
  
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /*Typography*/
  
  --font-family-main: "Kumbh Sans", sans-serif;
  
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 2.5rem;
  
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  
  /*background*/
  --bg-main: 
    url("/src/assets/noiseTest2.png"),
    radial-gradient(
      circle at 50% 20%,
      #1c1b18 0%,
      #121212 40%,
      #0c0c0c 100%
    );

  --bg-main-size: 100px 100px, cover;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  margin: 0;
  padding: 2rem;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--bg-main);
  background-size:var(--bg-main-size)
  
}

h1 {
  color: var(--color-primary);
}

section {
  
  background: var(--bg-main);
  background-size:var(--bg-main-size);
  width: 100%;
}